*{
    margin:0;
    padding:0;
    
}

header a:active,
header a:link,
header a:visited,
header{
    float: left;
    color: rgb(233, 235, 213);
    font-size: 45px;
    text-align: right;
    margin-top: 0px; 
    margin-left: 0%; 
    cursor: cell;
    
   }
   
   
body{
    background-color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    cursor: crosshair;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

.workspreview{
    height: 100%;
    width: 100%;
    
}

ul.topnav{
  width: 25%
}

li {

  color: #ffffff;
  cursor: cell;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;

  padding: 1rem 1.6rem;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  touch-action: manipulation;
}

li:hover {
  /* background-color: #3e3e3e; */
  box-shadow: 0px 1px 2px rgba(205, 205, 205, 0.669);
  color: #fff;
}

div.scroll-container {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  margin-left: 15%;
}

div.scroll-container img {
  padding: 5px;
  width: 30%;
  height: 15%;
}

 h1{
    color: rgb(180, 177, 165);
    font-size: 60px;
    margin-left: 15%; 
    white-space: nowrap;
    overflow: hidden;
   }

 h2{
    color: rgb(254, 255, 243);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 25px; 
    margin-left: 15px; 
    opacity: 1;
   }


 h3{
    color: rgb(83, 83, 83);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 15%; 
    opacity: 1;
    
   }

  p{
    color: rgb(234, 236, 209);
    margin-left: 15%; 
    font-size: 20px;
    font-family: 'freeMono', monospace;
    width: 40%;
    line-height: 1.5;
    text-align: justify;
    overflow: scroll

  }

   #journal{
  background-color: #3b3934;
  width: 30%;
  height: 93%;
  display: block; 
  position:fixed;
  font-size: 15px;
  text-align: justify;
  overflow: scroll;
  margin-left: 0%;
  margin-top: 1%;
  line-height: 1.5;
  z-index: 100;
}

a:link,
a:visited,
a:active {
   cursor: cell;
   color: rgb(233, 235, 213);
   text-decoration: none;
}

    /* .topnav :hover {
    background-color:rgb(40, 40, 40);
    } */


#station_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/bgworks.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

#bg {
  position: fixed;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
  z-index: -2;
  background-image: url('../assets/black.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

div.cartelworkcontainer{
  
  margin-left: 15%;
  white-space: nowrap;
  overflow: scroll;
  height: 700px;
  
}

div.cartelworkcontainer :hover {
  background-color: #000000;
  opacity: 1;
  width : 500px;
}

div.cartelwork {
  width: 400px;
  background-color: #000000;
  min-width: 400px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;

  
}

.bottomscreen { 
    color: #372d22;
    position: fixed; 
    bottom: 5%;
    left: 0px; 
    font-size: 100px;
    z-index: -100;
    white-space: nowrap;
    overflow: hidden;
    }