*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    cursor: crosshair;
    
}

#loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 1.5em;
  color: white;
  z-index: -101;
}

/* header{
    height:80px;
    width: 100%;
    background-color:rgb(39, 38, 46);
    position: static;
    cursor: crosshair;
} */

header a:active,
header a:link,
header a:visited,
header{
    float: left;
    color: rgb(233, 235, 213);
    font-size: 45px;
    text-align: right;
    margin-top: 0px; 
    margin-left: 0%; 
    cursor: cell;
   }

   #journal{
  background-color: #3b3934;
  width: 30%;
  height: 93%;
  display: block; 
  position:fixed;
  font-size: 15px;
  text-align: justify;
  overflow: scroll;
 
  margin-left: 0%;
  margin-top: 1%;
  line-height: 1.5;
}

  p{
    color: white;
    margin-left: 15%; 
    font-size: 20px;
    width: 40%;
    line-height: 1.5;
    text-align: justify;
    overflow: scroll

  }
 
 h1{
    float: left;
    color: rgb(180, 177, 165);
    font-size: 60px;
    text-align: left;
   }

 h2{
    float: left;
    color: rgb(254, 255, 243);
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 60%;
    height: 720px;
    margin-top: 60px; 
    margin-left: 0px; 
    left: 50px; 
   }

  p{
    color: white;
  }

.bottomscreen { 
    color: #ffa648;
    position: fixed; 
    bottom: 0;
    left: 0px; 
    font-size: 25px;
    z-index: 100;
    }

    #threedee {
        color: #FFFFFF;
        margin-top: 0%;
        box-sizing: border-box;
        position: fixed;
        z-index: -100;
    }

    /* li {
    outline: 0.1rem solid #FFFFFF ;
    background-color:rgb(0, 0, 0);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 10%;
    cursor: cell;
    float: inline-start;
     z-index: 100;
    } */

li {
  background-color: #00000088;
  border: 0 solid #e2e8f0;
  /* border-radius: 2rem; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: cell;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 0.5;
  padding: 1rem 1.6rem;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(142, 142, 142, 0.461);
  touch-action: manipulation;
}

li:hover {
  /* background-color: #3e3e3e; */
  box-shadow: 0px 1px 2px rgba(205, 205, 205, 0.669);
  color: #fff;
}

a:link,
a:visited,
a:active {
   cursor: cell;
   color: #fff;
   text-decoration: none;
}

    /* .topnav :hover {
    background-color:rgb(40, 40, 40);
    } */