*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    cursor: crosshair;

 
}
/* header{
    height:80px;
    width: 100%;
    background-color:rgb(39, 38, 46);
    position: static;
    cursor: crosshair;
} */

header h1{
    float: left;
    color: rgb(233, 235, 213);
    font-size: 45px;
    text-align: left;
    cursor: text;
}

header h2{
    float: right;
    color: rgb(255, 77, 0);
    font-size: 23px;
    text-align: left;
}


    #threedee {
        color: #FFFFFF;
        margin-top: 0%;
        background: #ff0000;
        width: 720px;
        height: 720px;
        box-sizing: border-box;
        position: fixed;
        z-index: -100;
    }

    button{
    background-color:rgb(0, 0, 0);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 10%;
    cursor: cell;
    float: inline-start;
     z-index: 100;
}


